*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    color:inherit;
}
*:hover {
   text-decoration: none;
}
*:visited{
   color: initial;
}
/* CSS importing Fonts */
@font-face {
    font-family:"BigShoulders" ;
    src: url('fonts/BigShoulders_24pt-Light.woff2');
    font-weight: 400;
}
@font-face {
    font-family:"Lexend-Regular" ;
    src: url('Fonts/Lexend-Regular.woff2');
    font-weight: 400;
}
 @font-face {
        font-family:"Montserrat" ;
        src: url('Fonts/Montserrat-Light (1).woff2');
        font-weight:400;
 }
 @font-face {
    font-family:"PoiretOne" ;
    src: url('Fonts/PoiretOne-Regular.woff2');
    font-weight:800;
 }
 /* CSS Setup */
 body * {
    font-family:"Lexend-Regular";
    font-weight: 200;
  
 }
 /* body{
   background-image: url("images/CactusBG.png");
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
} */

body {
   overflow-x: hidden;
}
.container-bg{
   background-image: url("images/CactusBG.png");
   background-repeat: no-repeat;
   /* background-position: right top; */
   position: fixed;
   z-index: 1;
   height: 100dvh;
   top:0;
   width: 90dvw;
   opacity: 0.5;
}


.header{

   width: calc( 100% - 60px);
   display: flex;
   flex-wrap:nowrap;
   justify-content:flex-end;
   align-items:center;
   padding: 30px;
  position: relative;
  z-index: 20;
}

.image1 {
   width: 100%;
}
#mainTitle{
   color: white;
   background-color: #105c2d;
   position:relative;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   opacity: 0.7;
   width: 100%;
   height: 60px;
   /* margin:5px ;
   padding: 5px; */
   z-index: 17;
}

.mainP {
   font-weight: 200;
}

p {
   position: relative;
   z-index: 16;
   /* margin: 10px; */
}

/* Burger menu */
/* .burger-menu{
   width: 30px;
   height: 30px;
   position: relative;
   display: flex;
   align-items: center;
   margin-left: auto;
} */
/* .burger-s,
.burger-s::before,
.burger-s::after{
   height: 3px;
   width: 100%;
   border-radius: 50px;
   background-color: #105c2d;
}

.burger-s::after,
.burger-s::before{
   content: "";
   position: absolute;
   right: 0;
}

.burger-s::before{
   top: 5px;
   width: 70%;
}

.burger-s::after{
   bottom: 5px;
   width: 50%;
} */

nav{
   display: flex;
   width: 100%;
   gap: 20px;
   flex-grow: 1;
   justify-content: flex-end;
   align-items:center;
   height: 120px;
}

.nav-item {
   position: relative;
   line-height: 30px;

}
.nav-item::after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   /* padding-top: 5px; */
   width: 100%;
   height: 5px;
   border-bottom: 3px solid #105c2d;
   transform: scaleX(0);
   transform-origin: left;
   transition:transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:hover::after {
transition:transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);  
 transform: scaleX(1);
   /*  */
}

.account {
   width: 35px;
   /* margin: 8px; */
}

 /* h1{
   margin:10px;
   padding: 10px;
 } */

 h3{
    color: #309c5a;
    text-align:left;
    font-size: 25px;
   
 }

 h2{
    color:#b5318b;
    font-size: 30px;
    margin-bottom: 15px;
 }

p{
   font-size: 18px;
   text-align:left;
}
.posts-container{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: auto auto;
   gap: 15px;
   width: calc(100%-4%);   
   justify-content: space-around;
   align-items:center;
   align-content: flex-start;
   z-index: 2;
   position: relative;
   padding: 10px;
   margin-left: 10px;
}
.posts-container h2{
   margin-bottom: 10px;
   text-transform: uppercase;

}

.posts-container p {
   width: 85%;
   margin-top: 15px;
}

.posts-container img {
   display: flex;
   justify-items: center;
   align-items: center;
}
.types-cacti{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 3;
   align-items: center;
   justify-items: center;

}

.types-cacti ul {
   width: 80%;
   display: flex;
   align-items: start;
   gap: 10px;
}

.blooms{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 3;
   justify-items: center;
}

.footer-container {
   display: flex;
   flex-direction: row;
   background-color: #fab6d9;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 30;
}
.footer-image {
   z-index: 20;
}

.footer-content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}
@media (max-width:1024px) {
   
   .mainP {
      width: 95%;
      margin-left: 10px;
      text-align: center;
   }
}

@media (max-width:768px) {

.burger-menu {
   display: none;
}
.header {
   display: flex;
   flex-direction: column;
   gap: 10px;

}
 .image1 {
display: flex;
flex-wrap: wrap;
gap: 10px;

 }

nav {
 flex: 1 1 45%;
 background-color:#309c5a;
 padding: 10px;
 text-align: center;
 border-radius: 5%;
 }

 .mainTitle {
   height: 100px;
   padding: 20px;
 }

 .mainP {
  font-weight: 200;
  margin-left: 10px;
 }

 .container-bg {
   height: 100%;
   top:0;
   width: 100%;

 }

 .posts-container {
   display: flex;
   flex-direction: column;
 }

 .footer-container {
   display: flex;
   flex-direction: column;

 }
}